{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{> "components/header" headerStyle=@custom.header_style}}

{{#get "pages" filter="slug:news" as |news|}}
    {{#foreach news}}
        <main class="gh-main">
            <article class="gh-article {{post_class}}">
                <section class="gh-content gh-canvas is-body">
                    {{content}}
                    <hr>
                </section>
            </article>
        </main>
    {{/foreach}}
{{/get}}

<br/>
<br/>
{{!-- Startseite Content --}}
{{#get "pages" filter="slug:startseite" as |startseite|}}
    {{#foreach startseite}}
        <main class="gh-main">
            <article class="gh-article {{post_class}}">
                <section class="gh-content gh-canvas is-body">
                    {{content}}
                </section>
            </article>
        </main>
    {{/foreach}}
{{/get}}

{{#match @custom.header_style "!=" "Highlight"}}
    {{> "components/featured" showFeatured=@custom.show_featured_posts limit=4}}
{{/match}}

{{> "components/cta"}}

{{> "components/post-list" feed="home" postFeedStyle=@custom.post_feed_style showTitle=true showSidebar=@custom.show_publication_info_sidebar}}